{% extends "base.html" %}
<!-- Admin page  -->
{% block meta_description %}{% endblock %}
{% block title %}andreffs{% endblock %}

{% block extraless %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/admin.less" />{% endblock %}
{% block body %}

<div id="admin">
	<h1 class="title">My Post's</h1>
	<table>
		<thead>
			<td>Title</td>
			<td>Date</td>
			<td>Time</td>
		</thead>
		<tbody>
			{% for post in articles %}
			<tr>
				<td>{{ post.title }}</td>
				<td>{{ post.date }}</td>
				<td>{{ post.time }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<h2 class="subtitle">Add blog post</h2>

    {{ form }}

</div>

{% endblock %}
{% block extrajs %}<!--<script src="{{ STATIC_URL }}js/projects.js"></script>-->{% endblock %}