{% extends "base.html" %}
<!-- Admin page  -->
{% block meta_description %}{% endblock %}
{% block title %}andreffs{% endblock %}

{% block extraless %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/admin.less" />{% endblock %}
{% block body %}

<div id="admin">

    <ul>


        <li><a href="blog">Blog</a></li>

        <li><a href="feed">MyFeed</a></li>


    </ul>
	

	
</div>

{% endblock %}
{% block extrajs %}<!--<script src="{{ STATIC_URL }}js/projects.js"></script>-->{% endblock %}