/*	Projects Page style
-------------------------------------------------- */

.project-view{
	i {
		font-size: 24px;
	}
}

.project-list-view {
	.td-image > img {
		max-width: 320px;
	}
	.td-actions > div {
		align-content: center;
		justify-content: space-around;
		align-items: center;
		flex-wrap: nowrap;
		column-gap: 6px;
	}
}

.project-compact-view {
	margin-top: 30px;
	display: grid;
	gap: 20px;
	justify-content: space-evenly;

	.card {
		transition: transform .3s;
		&:hover {
			-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
			-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
			transform: scale(1.01);
		}
	}

	.card-img-top {
		display: block;
		width: 100%;
		height: 134px;
		// object-fit: contain;
		object-fit: cover;
	}

	.card-social {
		width: 100%;
		justify-content: center;
		align-items: center;
		column-gap: 6px;
		margin-top: 6px;
	}

	.card-skills {
		width: 100%;
		justify-content: center;
		align-items: center;
		column-gap: 2px;
		row-gap: 2px;
	}
}

@media (min-width: 768px) {
	.project-compact-view{
		grid-template-columns: repeat(auto-fit, 100%);
	}
}
@media (min-width: 992px) {
	.project-compact-view{
		grid-template-columns: repeat(auto-fit, 380px);
	}
}
@media (min-width: 1200px) {
	.project-compact-view{
		grid-template-columns: repeat(auto-fit, 320px);
	}
}
