{{ define "main" }}

{{- if .Params.Plotly }}
<script type="text/javascript" src="https://cdn.plot.ly/plotly-1.50.0.min.js"></script>
{{- end }}

{{- if .Params.Slideshow }}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{{- end }}

<main class="row blog">
    <section>
        <header>
            <h1 class="">{{ .Title | markdownify }}</h1>

            {{ if .Params.Subtitle }}
            <h2 class="font-weight-light font-italic mb-3">{{ .Params.Subtitle | markdownify }}</h2>
            {{ end }}

            <a class="text-muted mt-3">
                <a class="text-muted" href="{{ .Permalink }}">Published {{ .Date.Format "January 2, 2006"  }}</a>

                {{ with .Params.tags }}
                    <span>|</span>
                    {{ range . }}
                    <a class="text-muted" href="{{ "/tags/" | absURL }}{{ . | urlize }}">#{{ . }}</a>
                    {{ end }}
                {{ end }}
                <span>|</span>
                <a class="text-muted text-decoration-none">± {{ .ReadingTime }} min{{ if not (eq .ReadingTime 1) }}s{{ end }}</a>
            </p>
        </header>
        <article class="markdown-body">
            {{ .Content }}
        </article>
    </section>

    <aside>
        <div class="d-none d-xl-block">
            {{ if and (gt (len .TableOfContents) 200) ( .Params.TOC )}}
                <div class="toc">
                    <h5>Table of contents</h5>
                    {{ .TableOfContents }}
                </div>
            {{ else }}
                <!--div class="tags">
                    <h5>Tags</h5>
                    <ul class="list-unstyled">
                        {{ range $.Site.Taxonomies.tags }}
                        <li><a class="text-secondary" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
                        {{ end }}
                    </ul>
                </div-->
            {{ end }}
        </div>
    </aside>
</main>

<hr>

{{ template "_internal/disqus.html" . }}

<hr>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-auto">
      <small>
        Last update: {{ .Lastmod.Format "January 2, 2006" }}
        {{ with .GitInfo }}
          <a href="https://github.com/andreffs18/website/commit/{{ .Hash }}" target="_blank">({{ .AbbreviatedHash }})</a>
        {{ end }}
      </small>
    </div>
  </div>
</div>


{{ if or .Next .Prev }}
<div class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                {{ if (eq .Prev.Type "blog") }}
                Previous Post: ◀ <a href="{{ .Prev.URL | absURL}}">{{ .Prev.Title | markdownify }}</a>
                {{ end }}
            </div>
            <div class="col-md-6 text-right">
                {{ if .Next  }}
                Next Post: ▶ <a href="{{ .Next.URL | absURL }}">{{ .Next.Title | markdownify }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}



<script>
const BLOG_TITLE_SELECTORS = '.blog article h1, .blog article h2, .blog article h3, .blog article h4, .blog article h5, .blog article h6';
// Add github like anchor style to all '#' links
function addAnchor(element) {
    element.innerHTML = `<a class="anchor" href="#${element.id}" aria-hidden="true"><span class="octicon octicon-link"></span></a>${element.innerText}`
}
document.addEventListener('DOMContentLoaded', () => {
    var headers = document.querySelectorAll(BLOG_TITLE_SELECTORS)
    if (headers) {
        headers.forEach(addAnchor)
    }
})

// Make TOC highlight current link
window.addEventListener('DOMContentLoaded', () => {
	const observer = new IntersectionObserver(entries => {
    let container = document.querySelector('.toc');
    let links = [...container.querySelectorAll('a')]
    let headings = links.map(link => {
      let id = link.getAttribute('href')
      return document.querySelector(id)
    })

    entries.forEach(entry => {
      let previousSection = undefined;
      let href = `#${entry.target.getAttribute('id')}`;
      let link = links.find(l => l.getAttribute('href') === href);

      if (entry.intersectionRatio > 0) {
        link.classList.add('is-visible');
        previousSection = entry.target.getAttribute('id');
      } else {
        link.classList.remove('is-visible');
      }

      links.forEach(link => {
        link.classList.remove('is-active');
      })

      let firstVisibleLink = container.querySelector('.is-visible');
      if (firstVisibleLink) {
        firstVisibleLink.classList.add('is-active');
      }
      if (!firstVisibleLink && previousSection) {
        container.querySelector(`a[href="#${previousSection}"]`).classList.add('is-active');
      }
    })
    // keep last link on if we are by the end of the page
    if(entries.length === 1){
      let entry = entries[0];
      let lastHeadingOfBlogpost = headings[headings.length - 1];
      if(
        entry.intersectionRatio === 0 && // entry is not being visible
        entry.target === lastHeadingOfBlogpost // entry is the last H tag of this blogpost
      ) {
        let href = `#${entry.target.getAttribute('id')}`;
        container.querySelector(`a[href="${href}"]`).classList.add('is-active');
      }
    }
	});
	// Track all sections that have an `id` applied
	document.querySelectorAll(BLOG_TITLE_SELECTORS).forEach((title) => {
		observer.observe(title);
	});
});

</script>
{{ end }}
