{% extends "base.html" %}
{% load filters %}
{% load markdown_filter %}
{% block body %}
<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>

<div class="container">
    <div id="login-wrapper">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />

            <!-- Warning Alert -->
            {% if next %}
            <div class="alert alert-warning">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                {% if not request.user.is_authenticated %}
                    Please login to see this page.
                {% else %}
                    Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.
                {% endif %}
                </div>
            {% endif %}

            <!-- Login Form - input fields -->
            <table class="table table-condensed table-no-border">
                <tbody>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Error Alert -->
            {% if form.errors %}
            <div class="alert alert-danger">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="sr-only">Error:</span> The username or password you've entered doesn't match any account.
            </div>
            {% endif %}

            <!-- Login Form - actions -->
            <table class="table table-no-border">
                <tbody>
                <tr>
                    <!--td>
                        {# Assumes you setup the password_reset view in your URLconf #}
                        <p><a href="">Forgot password?</a></p>
                    </td-->
                    <td colspan="2">
                        <input type="submit" value="Login" />
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

    </div>
</div>
{% endblock %}
{% block footer %}<!-- No Footer -->{% endblock %}
{% block extrajs %}
{% endblock %}