{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9 col-xl-8">

      <h2 class="mb-4">"{{ .Name }}"</h2>

      {{ $.Scratch.Set "lastYear" "" }}
      {{ range .Pages }}
        {{ $year     := .Date.Year }}
        {{ $lastYear := $.Scratch.Get "lastYear" }}

        {{ if ne $year $lastYear }}
          <div class="d-flex align-items-baseline mt-3 mt-md-5 mb-1">
            <span class="text-muted flex-shrink-0 blog-list-year">{{ $year }}</span>
          </div>
          {{ $.Scratch.Set "lastYear" $year }}
        {{ end }}

        <div class="d-flex align-items-baseline mt-2">
          <time class="text-muted flex-shrink-0 me-3 blog-list-date">{{ .Date.Format "Jan 2" }}</time>
          <div>
            <a class="text-body" href="{{ .Permalink }}">
              {{ if .Draft }}<span class="blog-list-draft">DRAFT:</span> {{ end }}{{ .Title | markdownify }}
            </a>
            <small class="text-muted post-read-time"> · {{ .ReadingTime }} min read</small>
          </div>
        </div>
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
