{% extends "base.html" %}
<!-- About page  -->
{% block meta_description %}{% endblock %}
{% block title %}andreffs{% endblock %}
{% block header %}

<header> 

	<h1>About-me</h1>

</header>

{% endblock %}
{% block extraless %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/about.less" />{% endblock %}
{% block body %}

<div id="about">

	<h1>Who is?</h1>
	<p>Well, I'm André Silva, a 20 years old Portuguese Student
	I am currently enrolled in a Computer Science @ Instituto Superior Tecnico, the best Engineering College in Portugal on my Bachelats level. I pretent to do my Masters program on the areas as such Machine Learning, AI ou Bioinformatic.
	<br/>
	I work swell, i had the luck to become a internship on the first Portugues Startup to enter in YCombinator.. Unbabel! The just make a way for machine translation and a human have a baby and awesome text birth from it's windows.
	<br />
	With all this I live in a Faternity called A República A Desordem dos engenheiros.
	</p>



	<h1>What like</h1>
	<p>Being entrepreneurial myself, I understand the challenges that businesses and projects face when trying to promote themselves online by working on my own online projects
	<br />
	I an extreme lover of cof In addition, I am a great lover of music. Every emotion that I have can take form in a type of song that can be sometimes an escape. I am driven by an endless ambition that allows me to grow and seek perfection, both in regard to the substance and the form for any project or myself.
	<br />
	I love getting to know and working with interesting companies that are working on amazing things
	<br />
	So, this is my status right now.. how about, what i do like want? well, i don't like to do nothing, i hate to feel useless, i want to be rich, (as most ppl) nah jk, i want to create a company
	</p>


</div>

{% endblock %}
{% block extrajs %}<!--<script src="{{ STATIC_URL }}js/projects.js"></script>-->{% endblock %}