{% extends "base.html" %}
{% load filters %}
{% block title %}ANDREFFS | About Me{% endblock %}
{% block body %}

<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>

<div class="container aboutpage">
    {% include "common/header.html" %}

    <div class="row margin-lg">
        <div class="col-md-4">
            <img class="profile-pic letterpress" src="https://scontent.flis6-1.fna.fbcdn.net/v/t1.0-9/10505323_741224499289903_1403650948536076317_n.jpg?oh=50a0da5e98aff68e3c9f551348fca97b&oe=585F06CC" />
        </div>
        <div class="col-md-8">
            {% include "_dynamic_content/about.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
{% endblock %}