{% extends "base.html" %}
<!-- Blog page  -->
{% block meta_description %}{% endblock %}
{% block title %}andreffs{% endblock %}

{% block extraless %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/blog.less" />{% endblock %}
{% block body %}

<div id="blog2">

	<div id="blog-article-wrapper" class="pull-left">
	{% for article in articles %}
		<div class="blog-article">
			<small>{{ article.date }} | {{ article.comments }} comments</small>
			<a href="{{ article.slug }}"><h1>{{ article.title }}</h1></a>
            <small>{{ article.subtitle }}</small>
			<p>{{ article.content|truncatechars:200 }}</p>
		</div>
	{% endfor %}


    </div>

	{% if entries.has_previous %}
	<a href="?page={{ entries.previous_page_number }}" class="btn theme-color pull-right">Recent Articles &rarr;</a>
	{% endif %}

	{% if entries.has_next %}
	<a href="?page={{ entries.next_page_number }}" class="btn theme-color pull-left">&larr; Previous Articles</a>
	{% endif %}


</div>

{% endblock %}
{% block extrajs %}<!--<script src="{{ STATIC_URL }}js/projects.js"></script>-->{% endblock %}