{% extends "base.html" %}
<!-- Blog page  -->
{% block meta_description %}{% endblock %}
{% block title %}andreffs{% endblock %}

{% block extraless %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/blog.less" />{% endblock %}
{% block body %}

<div id="blog">
	
	<div id="blog-article-wrapper" class="pull-left">
	{% for entrie in entries %}
		<div class="blog-article">
			<a href="#">
				<small>{{ entrie.date }} | {{ entrie.comments }} comments</small>
				<h1>{{ entrie.title }}</h1>
				<p>{{ entrie.body|truncatechars:200 }}</p>
			</a>
		</div>
	{% endfor %}

	http://expresso.sapo.pt/licoes-de-vida-que-vai-aprender-ate-aos-30=f864581


	{% if entries.has_previous %}
	<a href="?page={{ entries.previous_page_number }}" class="btn theme-color pull-right">Recent Articles &rarr;</a>
	{% endif %}

	{% if entries.has_next %}
	<a href="?page={{ entries.next_page_number }}" class="btn theme-color pull-left">&larr; Previous Articles</a>
	{% endif %}

	</div>
	<div id="blog-left-bar" class="pull-right">
		<!-- Search -->
		<div class="blog-module">
			<input type="text" placeholder="Search" name="search-article" />
			<i class="fa fa-search"></i>
		</div>

		<!-- About -->
		<div class="blog-module">
			<h1>About</h1>
			<p>Everyother time do stuf ppl</p>
		</div>

		<!-- Blog Posts -->
		<div class="blog-module">
			<h1>Recent Blog Posts</h1>
			<ul>
				{% for post in recent_posts %}
				<li><a href="#">&bull;&nbsp;&nbsp;{{ post|truncatechars:50 }}</a></li>
				{% endfor %}
			</ul>
		</div>

		<!-- Categories -->
		<div class="blog-module">
			<h1>Categories</h1>
			<div class="tag-wrapper">
				{% for tag in tags %}
				<a href="#" class="pull-left">{{ tag }}</a>
				{% endfor %}
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>

</div>

{% endblock %}
{% block extrajs %}<!--<script src="{{ STATIC_URL }}js/projects.js"></script>-->{% endblock %}