{% extends "base.html" %}
{% load filters %}
{% block title %}ANDREFFS | Countdown Beta{% endblock %}
{% block body %}

<style type="text/css">
.countpage{
    margin-top: 75px;
}
.clock small{
    font-size: 20px;
    text-decoration: underline;
    text-transform: uppercase;
}
</style>

<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>

<div class="container countpage">
    {% for stuff in stuffs %}
        <div class="text-center alert alert-{{ stuff.alert }}"
             data-date="{{ stuff.date }}"
             data-countdown="{{ stuff.deadline }}"
             data-description="{{ stuff.name }}"
             data-url="{{ stuff.url }}"></div>
    {% endfor %}
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}js/plugins/jquery.countdown.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-countdown]').each(function() {
        var $this = $(this),
            actualDate = $(this).data('date'),
            finalDate = $(this).data('countdown').split("/"),
            finalDesc = $(this).data('description'),
            url = $(this).data('url');

        var str = finalDate.slice(0, 3).join("/") + " " + finalDate.slice(3, 6).join(":");
        $this.countdown(str, function(event) {
            var html = '<h1>'+event.strftime('%D days %H:%M:%S')+'</h1>';
            html += '<small>';
            html += '<a href="'+url+'" target="_blank">'+finalDesc+'</a>';
            html += '<br/>';
            html += '<p>'+actualDate+'</p>';
            html += '</small>';
            $this.html(html);
        });
    });
});
</script>
{% endblock %}