{% extends "base.html" %}
{% load filters %}
{% block body %}
<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>

<div class="container">
    <div class="page-header">
        <h1 class="text-right text-uppercase">André Silva<br/><small class="text-uppercase">22 y/old workaholic/student that does not like to be still.</small></h1>
    </div>
    <p class="lead text-right">My name is André silva, I'm a 22y/old guy from Lisbon, that enjoys startups, technologies, new things and surf.<br>Don't be afraid to say hi.
    <div class="cv-placeholder"></div>
</div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" charset="utf-8">
    var cv = eval($('<input type="hidden" value="{{ cv }}" />').val());
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cv.js"></script>
{% endblock %}