{% extends "base.html" %}
{% load filters %}
{% block title %}ANDREFFS | Curriculum Vitae{% endblock %}
{% block body %}

<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>
<!-- André Silva	Community Dev President Full-stack Enginner. Currently working as a Software Developer on the Community Team while studying CS at Instituto Superior Técnico. A big enthusiast of self-improvement, tv-shows and Louie CK.-->
<div class="container">
    {% include "common/header.html" %}

    <div class="cv-placeholder">
        {% include "_dynamic_content/cv.html" %}
    </div>
</div>
{% endblock %}

{% block extrajs %}{% endblock %}