{% extends "base.html" %}
<!--  -->
{% block title %} Welcome to my homepage | Andr&eacute; Silva  {% endblock %}
{% block extracss %}{% endblock %}
{% block body %}

<div id="work-showreel">

	<fieldset>
		<legend>Some of my latest work</legend>
	</fieldset>


	<a href="#"><div class="work-wrapper pull-left">
		<div class="work-wrapper-opacity"></div>
		<img src="../static/img/workshowreel/img1.jpg" />
		<h1>Title 1</h1>
		<h4>Subtitle context for workabove</h4>
		<div class="arrow"></div>
	</div></a>

	<a href="#"><div class="work-wrapper pull-left">
		<div class="work-wrapper-opacity"></div>
		<img src="../static/img/workshowreel/img2.jpg" />
		<h1>Title 2</h1>
		<h4>Subtitle context for workabove</h4>
		<div class="arrow"></div>
	</div></a>

	<a href="#"><div class="work-wrapper pull-left">
		<div class="work-wrapper-opacity"></div>
		<img src="../static/img/workshowreel/img3.jpg" />
		<h1>Title 3</h1>
		<h4>Subtitle context for workabove</h4>
		<div class="arrow"></div>
	</div></a>

</div>

{% endblock %}
{% block extrajs %}{% endblock %}