{% extends "base.html" %}
<!-- Projects page -->
{% block meta_description %}{% endblock %}
{% block title %}{% endblock %}

{% block extraless %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/projects.less" />{% endblock %}
{% block extracss %}{% endblock %}
{% block body %}

<div id="projects">


	<div id="work-showreel">

		<fieldset>
			<legend>Some of my latest work</legend>
		</fieldset>

		
		{% for project in projects %}
			<a href="#"><div class="work-wrapper pull-left">
				<div class="work-wrapper-opacity"></div>
				<img src="{{ project.img }}" />
				<h1>{{ project.title }}</h1>
				<h4>{{ project.subtitle }}</h4>
				<div class="arrow"></div>
			</div></a>
		{% endfor %}

	</div>

</div>

{% endblock %}
{% block extrajs %}<script src="{{ STATIC_URL }}js/projects.js"></script>{% endblock %}