{% extends "base.html" %}
{% load filters %}
{% block title %}André Silva | Work and Projects{% endblock %}
{% block body %}
<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>

<div class="container">
    <div class="page-header">
        <h1 class="text-right text-uppercase">André Silva<br/><small class="text-uppercase">20 year old workaholic/student that enjoys spending time @ his hometown.</small></h1>
    </div>
    <p class="lead text-right">Oh, hello there :)<br/>
      MY AROWX
    </p>
</div>
{% endblock %}

{% block extrajs %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/.js"></script>#}
{% endblock %}