{% extends "base.html" %}
{% load filters %}
{% block body %}
<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>

<div class="container aboutpage">
    <div class="page-header">
        <h1 class="text-right text-uppercase">André Silva<br/><small class="text-uppercase">22 y/old workaholic/student that does not like to be still.</small></h1>
    </div>
    <p class="lead text-left">My name is André silva, I'm a 22y/old guy from Lisbon.</p>

    <p>I consider myself to be one of the few lucky ones to have got the opportunity to work with the most hard working and passionate people that created and build Unbabel, one of the firsts Portuguese Startups to enter Y-combinator. As a Software Enginner (wannabe Full-Stack) in a Startup, I care about turning complex problems into simple ones, understanding all the systems architecture, backend and frontend.</p>
    <p>Although I work as a Software Engineer @ one of the best Startups in Portugal, I'm also currently enrolled in the best engineering school of portugal, Instituto Superior Técnico, in a Bologna Degree in Information Systems and Computer Science Engineering. I'm planning on enrolling in a MSc in Intelligent Systems with a minor on Software Engineer.</p>
    <p>My passion lies in Artificial Intelligents. The naive idea of making the machine do all your work the minimum effort, learning by itself, is something that always intrigued me.</p>
    <p>As a full time worker/student, I find myself without much time to spare, so when I'm not working or studying, you'll find me in the gym, training self defense, "hackathoning" everything or just enjoying the beautiful surfing that Lisbon can give you.</p>

</div>
{% endblock %}

{% block extrajs %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/.js"></script>#}
{% endblock %}