<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group tabs pull-left">
                    <a href="{{ SITE_URL }}/" title="Homepage">cv</a>
                    <a href="javascript:void(0)"><button type="button" class="btn btn-default btn-sm bullet"><i class="fa fa-circle"></i></button></a>
                    <a href="{{ SITE_URL }}/about" title="About Myself">about</a>
                    <a href="javascript:void(0)"><button type="button" class="btn btn-default btn-sm bullet"><i class="fa fa-circle"></i></button></a>
                    <a href="{{ SITE_URL }}/blog" title="Blog">blog</a>
{#                  <a href="{{ SITE_URL }}/work" title="My Work"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-briefcase"></i></button></a>#}
{#                  <a href="{{ SITE_URL }}/blog" title="My Blog"><button type="button" class="btn btn-default btn-sm"><i class="fa fa-book"></i></button></a>#}
{#                  <button type="button" class="btn btn-default btn-sm"><a title="mypage" href=""><i class="fa fa-circle"></i></a></button>#}
                </div>
{#                <p class="text-muted pull-left copy"><a href="javascript:void(0)">&copy; {% now "Y" %} - andreffs18</a></p>#}
            </div>
            <div class="col-md-6">
                <div class="btn-group contacts pull-right">
                    <button type="button" class="btn btn-default btn-sm"><a target="_blank" title="e-mail" href="mailto:andreffs18@gmail.com"><i class="fa fa-envelope"></i></a></button>
                    <button type="button" class="btn btn-default btn-sm"><a target="_blank" title="linkedin" href="https://pt.linkedin.com/in/andreffs18"><i class="fa fa-linkedin"></i></a></button>
                    <button type="button" class="btn btn-default btn-sm"><a target="_blank" title="github" href="https://github.com/andreffs18"><i class="fa fa-github"></i></a></button>
                    <button type="button" class="btn btn-default btn-sm"><a target="_blank" title="facebook" href="https://www.facebook.com/andreffs18"><i class="fa fa-facebook"></i></a></button>
                    <button type="button" class="btn btn-default btn-sm"><a target="_blank" title="twitter" href="https://twitter.com/andreffs18"><i class="fa fa-twitter"></i></a></button>
                    <button type="button" class="btn btn-default btn-sm"><a target="_blank" title="instagram" href="http://instagram.com/andreffs18"><i class="fa fa-instagram"></i></a></button>
                    <button type="button" class="btn btn-default btn-sm"><a target="_blank" title="googleplus" href="https://plus.google.com/u/0/108978750836996449852/"><i class="fa fa-google-plus"></i></a></button>
                    <button type="button" class="btn btn-default btn-sm"><a target="_blank" title="youtube" href="https://www.youtube.com/channel/UCE1qfY1MVROMOrQKJfsxJLw"><i class="fa fa-youtube"></i></a></button>
{#                    <button type="button" class="btn btn-default btn-sm"><a target="_blank" title="skype" href="skype:mostwanted127?call"><i class="fa fa-skype"></i></a></button>#}
{#                    <button type="button" class="btn btn-default btn-sm"><a target="_blank" title="rss" href="{{ SITE_URL }}/rss"><i class="fa fa-rss"></i></a></button>#}
                </div>
                <p class="text-muted pull-right" style="margin-right:5px;">{{ SITE_URL }} want to say hi?</p>
            </div>
        </div>
    </div>
</footer>