<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted pull-left copy"><a href="javascript:void(0)">&copy; {% now "Y" %} - andreffs18</a></p>
                <ul class="navbar">
                    <li><a href="/" title="Homepage">cv</a></li>
                    <li><a href="/about/" title="About Myself">about</a></li>
                    <!--<li><a href="/blog/" title="Blog">blog</a></li>
                    <li><a href="/countdown/" title="Count Down">count down</a></li>
                    <li><a href="/timeline/" title="Count Down">timeline</a></li>
                    <li><a href="/work/" title="Count Down">work</a></li>-->
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="social pull-right">
                    <li><a title="e-mail" href="mailto:andreffs18@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    <li><a target="_blank" title="linkedin" href="https://pt.linkedin.com/in/andreffs18"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" title="github" href="https://github.com/andreffs18"><i class="fa fa-github"></i></a></li>
                    <li><a target="_blank" title="facebook" href="https://www.facebook.com/andreffs18"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" title="twitter" href="https://twitter.com/andreffs18"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" title="instagram" href="http://instagram.com/andreffs18"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" title="googleplus" href="https://plus.google.com/u/0/108978750836996449852/"><i class="fa fa-google-plus"></i></a></li>
                    <li><a target="_blank" title="youtube" href="https://www.youtube.com/channel/UCE1qfY1MVROMOrQKJfsxJLw"><i class="fa fa-youtube"></i></a></li>
                    <!--<li><a target="_blank" title="skype" href="skype:mostwanted127?call"><i class="fa fa-skype"></i></a></li>
                    <li><a target="_blank" title="rss" href="{{ SITE_URL }}/rss"><i class="fa fa-rss"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</footer>

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function(){
    // set right navbar element to "active"
    var _routes = $('.navbar li');
    var current_href = window.location.pathname;

    console.log("_routes", _routes);
    console.log("current_href", current_href);

    $.each(_routes, function(index, el){
        console.log("$(el).find('a').attr(\"href\") == current_href",
                    $(el).find('a').attr("href") == current_href,
                    $(el).find('a').attr("href"), current_href);

        if($(el).find('a').attr("href") == current_href){
            $(el).addClass('active');
        }
    });
});
</script>
{% endblock %}