{% extends "base.html" %}
{% load filters %}
{% block body %}
<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>

<div class="container">
    {% include "header.html" %}

    <div class="cv-placeholder"></div>
</div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" charset="utf-8">
    var cv = eval($('<input type="hidden" value="{{ cv }}" />').val());
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/cv.js"></script>
{% endblock %}