{% extends "base.html" %}
{% load filters %}
{% block title %}ANDREFFS | Curriculum Vitae{% endblock %}
{% block body %}

<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>

<div class="container">
    {% include "header.html" %}

    <div class="cv-placeholder">
        <!-- EMPLOYMENT Section -->
        <div class="row section">
            <div class="col-md-2">
                <h3 class="text-uppercase">EMPLOYMENT</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><a href='https://www.unbabel.com/' target='_blank'>Unbabel</a> @Lisboa, Portugal</h4>
                        <h5 class="text-left text-md-right">June 2013 - Present</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>Full-Stack Engineer. Working on the Community Team of Unbabel developing tools to help automatize the curation and quality of the translations.</p>
                        <p>Was also in the Integrations Team that built <a href="http://translations.unbabel.com/zendesk/" target="_blank">Unbabel for Zendesk Help Center</a>, <a href="https://unbabel.com/products/#ZendeskSection" target="_blank">Unbabel for Zendesk Tickets</a> and <a href="https://unbabel.com/products/#MailchimpSection" target="_blank">Unbabel for Mailchimp</a>.</p>
                        <p>First version of the Unbabel Android App. You can find <a href="https://play.google.com/store/apps/details?id=com.unbabel" target="_blank">here</a> the most recent version of the app.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><a href='http://vitopal.pt/' target='_blank'>Vitopal Informática Lda</a> @Samora Correia, Portugal</h4>
                        <h5 class="text-left text-md-right">June 2010 - August 2011</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>Internship as an Information Systems Technician.</p>
                        <p>Finding solutions for software and hardware problems.</p>
                        <p>Setting up small servers and networks in Windows and Ubuntu Servers.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- EDUCATION Section -->
        <div class="row section">
            <div class="col-md-2">
                <h3 class="text-uppercase">EDUCATION</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><a href='http://tecnico.ulisboa.pt/' target='_blank'>Instituto Superior Técnico</a> @Lisboa, Portugal</h4>
                        <h5 class="text-left text-md-right">September 2012 - Present</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>On my last year of my Bachelor's Degree, <a href="https://fenix.tecnico.ulisboa.pt/cursos/leic-a" target="_blank">Information Systems and Computer Science Engineering</a>.</p>
                        <p>Planing on enrolling my MSc in Intelligent Systems next year at <a href="http://tecnico.ulisboa.pt/" target="_blank">IST</a>.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><a href='#'>Escola Secundária de Benavente</a> @Benavente, Portugal</h4>
                        <h5 class="text-left text-md-right">September 2008 - June 2012</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>Curso Prof. de Técnico de Gestão e Programação de Sistemas Informáticos.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- EXPERIENCE Section -->
        <div class="row section">
            <div class="col-md-2">
                <h3 class="text-uppercase">EXPERIENCE</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"></h4>
                        <h5 class="text-left text-md-right"></h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p><strong>"The only source of knowledge is experience." - Albert Einstein.</strong></p>
                        <p>Participated two years in a row on <a href="https://codebits.eu/?lang=pt" target="_blank">Codebits</a> @ Lisbon, Portugal.</p>
                        <p>Organized <a href="https://blog.unbabel.com/2015/03/04/the-results-are-in-unbabels-first-hackathon-winners/" target="_blank">Unbabel Hackathon 2015</a> @ <a href="http://sinfo.org/" target="_blank">SINFO XXII</a> <a href="https://blog.unbabel.com/2015/02/26/unbabel-sponsors-sinfos-startup-rush-hackathon/" target="_blank">Startup Rush Hackathon</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- SKYLLS Section -->
        <div class="row section">
            <div class="col-md-2">
                <h3 class="text-uppercase">SKILLS</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"></h4>
                        <h5 class="text-left text-md-right">Languages & Technology</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>I work mostly with Python applications like Django and Flask.</p>
                        <p>Background in C, C++, PHP and Java.</p>
                        <p>HTML5, CSS3, JS with some experience with popular frameworks like jQuery.</p>
                        <p>GIT lover <img style="width:24px; position:relative;" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" /></p>
                    </div>
                </div>

            </div>
        </div>

        <!-- INTERESTS Section -->
        <div class="row section">
            <div class="col-md-2">
                <h3 class="text-uppercase">INTERESTS</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"></h4>
                        <h5 class="text-left text-md-right"></h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>My work environment is pretty straightforward: PyCharm, Terminal and MacDown.</p>
                        <p>When not working or at college I spend my time in the Gym, Self Defense, Surf or just watching plain old TVShows (a lot of them).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}{% endblock %}