{% extends "base.html" %}
{% load filters %}
{% block body %}
<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>

<div class="container">
    {% include "header.html" %}
    <div class="cv-placeholder">
        <div class="row section">
            <div class="col-md-2">
                <h3 class="text-uppercase">EMPLOYMENT</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><a href='https://www.unbabel.com/' target='_blank'>Unbabel</a> @Lisboa, Portugal</h4>
                        <h5 class="text-left text-md-right">June 2013 - Present</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>Backend Engineer, working on core features of Unbabel.</p>
                        <p>Was also apart of the Integrations Team that built <a href="http://translations.unbabel.com/zendesk/" target="_blank">Unbabel for Zendesk Help Center</a>, <a href="https://unbabel.com/products/#ZendeskSection" target="_blank">Unbabel for Zendesk Tickets</a> and <a href="https://unbabel.com/products/#MailchimpSection" target="_blank">Unbabel for Mailchimp</a>. Worked on the first beta version of the Unbabel Android App. You can find <a href="https://play.google.com/store/apps/details?id=co.unbabel" target="_blank">here</a> the most recent version of the app.</p>
                        <!--<p>Played around a bit on some research fields like Automatic Term Extraction and Transcription. This is useful to build glossaries. Also was apart the team that worked on TRATAHI, Seomthignt isad, that you can find here.</p>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><a href='http://vitopal.pt/' target='_blank'>Vitopal Informatica Lda</a> @Samora Correia, Portugal</h4>
                        <h5 class="text-left text-md-right">June 2010 - August 2011</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>Mainly IT Technician. Finding solutions for software and hardware problems, without using tools like formating or buying a new computer. Setting up servers and networks in Windows and Ubuntu Servers</p>
                        <!--(Management and Administration systems.)-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-md-2">
                <h3 class="text-uppercase">EDUCATION</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><a href='http://tecnico.ulisboa.pt/' target='_blank'>Instituto Superior Tecnico</a> @Lisboa, Portugal</h4>
                        <h5 class="text-left text-md-right">September 2012 - Present</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>On my last year of my Bachelor's at <a href="https://fenix.tecnico.ulisboa.pt/cursos/leic-a" target="_blank">Information Systems and Computer Science Engineering</a>.</p>
                        <p>Planing on enrolling my MSc in Intelligent Systems next year at <a href="http://tecnico.ulisboa.pt/" target="_blank">IST</a></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><a href='#'>Escola Secund&aacute;ria de Benavente</a> @Benavente, Portugal</h4>
                        <h5 class="text-left text-md-right">September 2008 - June 2012</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>Curso Prof. de Tecnico de Gest&atilde;o e Programa&ccedil;&atilde;o de Sistemas Inform&aacute;ticos.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-md-2">
                <h3 class="text-uppercase">EXPERIENCE</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><span></span></h4>
                        <h5 class="text-left text-md-right"><span></span></h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p><strong>"The only source of knowledge is experience." - Albert Einstein.</strong></p>
                        <p>Participate in some coding contests like Codebits 2012/2013 and SINFO 2014 and 2015.</p>
                        <!--<p>Also, was behing 2015 Unbabel Hackathon.</p>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-md-2">
                <h3 class="text-uppercase">SKILLS</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><span></span></h4>
                        <h5 class="text-left text-md-right">Languages</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>A big Python lover (Django), C, C++. A bit of PHP and Java and a love/hate relationship with Lisp.</p>
                        <p>HTML5, CSS3, JS and experience with popular frameworks for each language including LESS and jQuery. GIT lover <img style="width:24px; top:5px; position:relative;" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" /></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><span></span></h4>
                        <h5 class="text-left text-md-right">Software</h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>My work enviroment is pretty straitforward: PyCharm, Terminal and MacDown.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section">
            <div class="col-md-2">
                <h3 class="text-uppercase">INTERESTS</h3>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-left text-md-right"><span></span></h4>
                        <h5 class="text-left text-md-right"><span></span></h5>
                    </div>
                    <div class="col-md-6 text-left description">
                        <p>When not working or at college I mostly spend my time in the Gym, Self Defense, Surf or TVShows (a lot of them).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}{% endblock %}