{% extends "base.html" %}
<!-- About page  -->
{% block meta_description %}{% endblock %}
{% block title %}andreffs | About me{% endblock %}
{% block header %}<header data-image="about.png">
	<div>
		About me<br/>
		<span>20, male, Lisbon, with an incredible craving for cookies and geekiness.</span>
	</div>
	<span class="ref">&copy; André Silva</span>
</header>{% endblock %}
{% block extraless %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/about.less" />{% endblock %}
{% block body %}
<div id="about">

	<div class="block pull-left">
		<div class="picture">
			<div class="polaroid front p_seven">
				<div class="polaroid-img"><img src="{{ STATIC_URL }}img/polaroid/num.png"></div>
				<label class="polaroid-label">Some description</label>
			</div>
			<div class="polaroid back n_five">
				<div class="polaroid-img"><img src="{{ STATIC_URL }}img/polaroid/num.png"></div>
				<label class="polaroid-label">Other Description</label>
			</div>
		</div>
		<div class="description">
			<h1 class="title">Who am I?</h1>
			<p class="text">Well, I'm André Silva, a 20 years old Portuguese Student, currently enrolled in Computer Science @ <a href="/education">Instituto Superior Tecnico</a>, the best Engineering Collge in Portugal, on my Bachelats degree. I pretent to do my Masters program on areas such as Machine Learning or Artifitial Intelligence
			<br/><br/>
			I work aswell. I had the luck to became the internship on the first Portugues Startup to enter in YCombinator.. Unbabel! The just make a way for machine translation and a human have a baby and awesome text birth from it's windows.
			<br /><br/>
			With all this I live in a Faternity called A República A Desordem dos engenheiros.
			</p>
		</div>
	</div>


	<div class="block pull-right">
		<div class="picture">
			<div class="polaroid front n_five">
				<div class="polaroid-img"><img src="{{ STATIC_URL }}img/polaroid/num.png"></div>
				<label class="polaroid-label">Some description</label>
			</div>
			<div class="polaroid back p_five">
				<div class="polaroid-img"><img src="{{ STATIC_URL }}img/polaroid/num.png"></div>
				<label class="polaroid-label">Other Description</label>
			</div>
		</div>
		<div class="description">
			<h1 class="title">What do I like?</h1>
			<p class="text">Being entrepreneurial myself, I understand the challenges that businesses and projects face when trying to promote themselves online by working on my own online projects
			<br /><br/>
			I an extreme lover of cof In addition, I am a great lover of music. Every emotion that I have can take form in a type of song that can be sometimes an escape. I am driven by an endless ambition that allows me to grow and seek perfection, both in regard to the substance and the form for any project or myself.
			<br /><br/>
			I love getting to know and working with interesting companies that are working on amazing things
			<br /><br/>
			So, this is my status right now.. how about, what i do like want? well, i don't like to do nothing, i hate to feel useless, i want to be rich, (as most ppl) nah jk, i want to create a company
			</p>
		</div>
	</div>
</div>
{% endblock %}
{% block extrajs %}<!--<script src="{{ STATIC_URL }}js/projects.js"></script>-->{% endblock %}