<div id="footer" class="content-block">
	<div id="footer-wrapper">
		<p class="pull-left">&copy; 2014 <a href="/admin">A</a>ndr&eacute; Silva</p>

		<div class="social-wrapper pull-left">
			<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
			<a href="https://twitter.com/andreffs18" class="twitter-follow-button" data-show-count="false">Follow @andreffs18</a>
		</div>



		<ul class="pull-right">
			<li><a target="_blank" title="linkedin" href="http://pt.linkedin.com/pub/andré-silva/7b/21a/450/"><i class="fa fa-linkedin"></i></a></li>
			<li><a target="_blank" title="github" href="https://github.com/andreffs18"><i class="fa fa-github"></i></a></li>
			<li><a target="_blank" title="facebook" href="https://www.facebook.com/andreffs18"><i class="fa fa-facebook"></i></a></li>
			<li><a target="_blank" title="twitter" href="https://twitter.com/andreffs18"><i class="fa fa-twitter"></i></a></li>
			<li><a target="_blank" title="instagram" href="#instagram/andreffs18"><i class="fa fa-instagram"></i></a></li>
			<li><a target="_blank" title="googleplus" href="https://plus.google.com/u/0/108978750836996449852/"><i class="fa fa-google-plus"></i></a></li>
			<li><a target="_blank" title="youtube" href="https://www.youtube.com/channel/UCE1qfY1MVROMOrQKJfsxJLw"><i class="fa fa-youtube"></i></a></li>
			<li><a target="_blank" title="skype" href="skype:mostwanted127?call"><i class="fa fa-skype"></i></a></li>
			<li><a target="_blank" title="rss" href="#rss/blog/feed"><i class="fa fa-rss"></i></a></li>
			<li><a target="_blank" title="e-mail" href="mailto:andreffs18@gmail.com"><i class="fa fa-envelope"></i></a></li>

		</ul>

		<div class="clearfix"></div>
	</div>
</div>