<div id="footer" class="content-block">

	<p class="pull-left">&copy; 2014 Andr&eacute; Silva</p>

	<div class="social-wrapper pull-left">
		<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
		<a href="https://twitter.com/andreffs18" class="twitter-follow-button" data-show-count="false">Follow @andreffs18</a>
	</div>

	<ul class="pull-right">
		<li><a href="/about">about</a> <span>&bull;</span></li>
		<li><a href="#news">blog</a> <span>&bull;</span></li>
		<li><a href="#contact">work</a> <span>&bull;</span></li>
		<li><a href="#about">college</a> <span>&bull;</span></li>
		<li><a href="#about">faternety</a> <span>&bull;</span></li>
		<li><a href="#about">social</a></li>
	</ul>

	<div class="clearfix"></div>
</div>