<div id="header" class="content-block">
	
	
	<div class="myface pull-left">
		<span class="pull-left">andreffs</span>
	</div>

	<ul class="pull-right">
		<li><a class="button" href="#home">Home</a></li>
		<li><a class="button" href="#news">News</a></li>
		<li><a class="button" href="#contact">Contact</a></li>
		<li><a class="button" href="#about">About</a></li>
	</ul>


	<span class="pull-right title"><b>Hello</b> my name is Andr&eacute; Silva and i'm a 20y old working student from Portugal</span>
	<span class="pull-right subtitle">I live @ a faternity called <a href="#">Desordem dos Engenheiros</a>, study @<a href="#">Instituto Superior Tecnico</a> and work @<a href="#">Unbabel</a>. Feel free to explore and ask me anything. Thanks =)</span>

	<div class="clearfix"></div>
</div>