{% extends "base.html" %}
<!-- Blog page  -->
{% block meta_description %}{% endblock %}
{% block title %}andreffs | My Blog{% endblock %}
{% block header %}<header data-image="blog.jpg">
	<div>My Blog<br/>
		<span>When Twitter or Facebook doesn't fit my something idea on my head</span>
	</div>
	<span class="ref">&copy; André Silva</span>
</header>{% endblock %}
{% block extraless %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/blog.less" />{% endblock %}
{% block body %}

<div id="blog">
	<div id="blog-article-wrapper" class="pull-left">
		{% for entrie in entries %}
		<div class="blog-article">
			<!---->
			<a href="{{ entrie.slug }}"><h1 class="title">{{ entrie.title }}</h1></a>
			<h2 class="subtitle">{{ entrie.date }} | <a href="#">{{ entrie.comments }} comments</a> | &plusmn; 3min</h2>
			<hr />
			<p class="text">{{ entrie.body|truncatechars:320 }}</p>
			<a href="#" class="button pull-right">Continue reading</a>
		</div>
		{% endfor %}

	


		{% if entries.has_previous %}
		<a href="?page={{ entries.previous_page_number }}" class="button pull-right">Recent Articles &rarr;</a>
		{% endif %}

		{% if entries.has_next %}
		<a href="?page={{ entries.next_page_number }}" class="button pull-left">&larr; Previous Articles</a>
		{% endif %}

	</div>
</div>

{% endblock %}
{% block extrajs %}<!--<script src="{{ STATIC_URL }}js/projects.js"></script>-->{% endblock %}