{% extends "base.html" %}
{% load filters %}
<!-- Blog Detail page  -->
{% block meta_description %}{% endblock %}
{% block title %}andreffs | {{ article.title }} written by Andr&eacute; Silva{% endblock %}
{% block header %}<header data-image="blog.jpg">
	<div>
		{{ article.title }}<br/>
		<span>written by Andr&eacute; Silva</span>
	</div>
	<span class="ref">&copy; André Silva</span>
</header>{% endblock %}
{% block extraless %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/blog.less" />{% endblock %}
{% block body %}
<div id="blog">
	<div id="blog-article-wrapper" class="pull-left">

		<div class="blog-article-detail">
			<h1 class="title">{{ article.title }}</h1>
			<h2 class="subtitle">{{ article.timestamp|timestamp}}</h2>
			<p class="text">{{ article.content }}</p>

			<hr/>

			<div class="share">
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="andreffs">Share</a>
				<div class="fb-share-button" data-type="button_count" data-href="https://developers.facebook.com/docs/plugins/"></div>
			</div>
			
			<h4 class="title">Comments</h4>
			<div class="fb-comments" data-href="http://example.com/comments" data-width="700" data-numposts="4" data-colorscheme="light"></div>
		</div>
		
	</div>
</div>
{% endblock %}
{% block extrajs %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!--<script src="{{ STATIC_URL }}js/projects.js"></script>-->{% endblock %}