{% extends "base.html" %}
{% load filters %}
<!-- Blog page  -->
{% block meta_description %}{% endblock %}
{% block title %}andreffs | My Blog{% endblock %}
{% block header %}<header data-image="blog.jpg">
	<div>My Blog<br/>
		<span>When Twitter or Facebook doesn't fit my something idea on my head</span>
	</div>
	<span class="ref">&copy; André Silva</span>
</header>{% endblock %}
{% block extraless %}<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/blog.less" />{% endblock %}
{% block body %}

<div id="blog">
	<div id="blog-article-wrapper" class="pull-left">
		{% for article in articles %}
		<div class="blog-article">
			<!---->
			<a href="{{ article.slug }}"><h1 class="title">{{ article.title }}</h1></a>
			<h2 class="subtitle">{{ article.timestamp|timestamp }} | <a href="#">{{ article.comments }} comments</a> | &plusmn; {{ article.read_time }}min</h2>
			<hr />
			<p class="text">{{ article.content|truncatechars:320 }}</p>
			<a href="#" class="button pull-right">Continue reading</a>
		</div>
		{% endfor %}

	


		{% if articles.has_previous %}
		<a href="?page={{ articles.previous_page_number }}#blog-article-wrapper" class="button pull-right">Recent Articles &rarr;</a>
		{% endif %}

		{% if articles.has_next %}
		<a href="?page={{ articles.next_page_number }}#blog-article-wrapper" class="button pull-left">&larr; Previous Articles</a>
		{% endif %}

	</div>
</div>

{% endblock %}
{% block extrajs %}<!--<script src="{{ STATIC_URL }}js/projects.js"></script>-->{% endblock %}