{% extends "base.html" %}
{% load filters %}
{% load markdown_filter %}
{% block body %}
<nav class="navbar navbar-fixed-top">
    <div class="container"></div>
</nav>

<div class="container">
    {% include "common/header.html" %}
    <ul class="">
    {% for post in posts %}
        <li>
            <small>{{ post.creation_date }}</small> <a href="{% url "blog:detail" post.slug %}"><p>{{ post.title }}</p></a>
        </li>
    {% endfor %}
    </ul>

</div>
{% endblock %}

{% block extrajs %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/.js"></script>#}
{% endblock %}