<section id="slideshow-{{ .Get 0 }}" class="splide" aria-label="slideshow">
    <div class="splide__track">
        <ul class="splide__list" id="{{ .Get 0 }}"></ul>
    </div>
</section>

<script type="text/javascript">
window.addEventListener('DOMContentLoaded', () => {
    const slides = {{ .Inner | safeJS }};
    const list = document.getElementById("{{ .Get 0 }}");
    slides.forEach((slide) => {
        const li = document.createElement("li");
        li.className = "splide__slide";
        const img = document.createElement("img");
        img.src = slide.url;
        img.style.width = "100%";
        const p = document.createElement("p");
        p.innerHTML = slide.description || "";
        li.appendChild(img);
        li.appendChild(p);
        list.appendChild(li);
    });
    new Splide('#slideshow-{{ .Get 0 }}', {
        type: 'fade',
        rewind: true,
        arrows: true,
        pagination: false,
    }).mount();
});
</script>
