<div id="slideshow-{{ .Get 0 }}" class="slideshow">
    <div id="{{ .Get 0 }}"></div>
    <div class="d-flex justify-content-between">

    </div>
</div>

<script type="text/javascript">
window.addEventListener('DOMContentLoaded', () => {
  {{ .Inner | safeJS }}.forEach((slide) => {
      const div = document.createElement("div");
      const img = document.createElement("img");
      img.src = slide.url;
      const p = document.createElement("p");
      p.innerHTML = slide.description || "";
      div.appendChild(img);
      div.appendChild(p)
      document.getElementById("{{ .Get 0}}").appendChild(div);
  })

  $('#{{ .Get 0 }}').slick({
      dots: false,
      infinite: false,
      speed: 0,
      fade: true,
      draggable: false,
      cssEase: 'linear',
      prevArrow: '<button id="left-arrow-example" class="btn btn-primary">◄ Previous</button>',
      nextArrow: ' <button id="right-arrow-example" class="btn btn-primary">Next ►</button>'
  });
});
</script>
