/* Variables
-------------------------------------------------- */

// Reds
$redLight:				#f7b0b3;
$red: 					#fa5c5c;
$redDark: 				#E24D4D;

// Greens
$greenLight:			#d5f3ec;
$green: 				#49c9af;
$greenDark: 			#39ad95;

// Yellows
$yellowLighter:         #fffad8;
$yellowLight: 			#fff8a8;
$yellow: 				#FCCA2E;
$yellowDark: 			#FCCE41;

// Blues
$blueLight:             #e3f4fc;
$blue: 					#1aace7;
$blueDark: 				#1199CF;
$bluePetrol:			#256485;
$blueDarker: 			#2b3e50;

$white:                 #fff;
$black:					#4a4951;

// Grays
$grayLighter:           #f8f8f8;
$grayLight:				#e8ecef;
$gray:					#c2c2c2;
$grayDark:				#949496;
$grayDarker:			#5b6572;